@charset "utf-8";
.n_main{
	width: 1210px;
	margin: 0 auto;
	margin-top: 50px;
	padding: 20px;
	border: 1px solid #e6e6e6;
}
.n_input450{
	width: 450px;	
	margin-left: 10px;
}
.n_input230{
	width: 230px;
}
.n_sel{
	width: 200px;
}
.n_div_t{
	margin-bottom: 20px;
}
.n_main .red{
	color: #ff0707;
}

.n_box{
	margin-bottom: 10px;
}
.n_head{
	padding-left: 60px;
	padding-top: 6px;
	position: relative;
	height: 44px;
	background: #69bd69 url(../images/n_title_1.gif) no-repeat 0 0;
}

.n_head.file{
	background: #6A97D0 url(../images/n_title_2.gif) no-repeat 0 0;
}

.span_t{
	color: #fff;
}
.n_r_btn{
	position: absolute;
	right: 10px;
	top: 10px;
}
.n_r_btn a{
	background: url(../images/n-icon.gif) no-repeat;
	display: inline-block;
	width: 38px;
	height: 32px;
}
.n_r_btn a.n_zk{
	background-position: 0 0;
}
.n_r_btn a.n_zk{
	background-position: 0 -34px;
}
.body_span{
	height: 45px;
	line-height: 45px;
	border: 1px solid #ddd;
}
.n_par{
	border: 1px solid #ddd;
	padding: 3px;
}
.n_child{
	padding: 10px;
}
.body_bt{
	background: #f0f0f0;
	font-weight: bold;	
}
.body_span span{
	display: inline-block;
	text-align: center;
	width: 19%;
	color: #686b71;
}
.body_span span.span_last{
	vertical-align: middle;
}
.body_con{
	height: auto;
	line-height: auto;
}
.n_add{
	margin-left: 10px;
	color: #4c8ec2;
	font-weight: bold;;
}
.n_add:hover{
	text-decoration: none;
}
.span_last a{
	display: inline-block;
	width: 20px;
	height: 21px;
}
.add_rw{
	background: #69bd69;
	line-height: 40px;
	padding: 0 20px;
	display: inline-block;
	margin-top: 20px;
}
.add_rw:hover{
	text-decoration: none;
	color: #fff;
}
.n_b{
	text-align: center;
}
.n_add_box{
	height: 150px;
}
.rw_xl{
	background: #fff;
	border: 1px solid #ddd;
	width: 130px;
}
.rw_xl a{
	display: block;
	color: #333;
	padding: 6px 12px;
}
.rw_xl a:hover{
	background: #ddd;
	text-decoration: none;
}